<% content_for :title, "Beverages" %>

<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-ablescent-white my-5 text-elm text-xl font-bold
              rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>
  
  <table id="beverages" class="mx-auto border-separate border-spacing-y-5">

    <tbody>
      <% @beverages.each do |beverage| %>
        <tr class="<%= cycle 'bg-ablescent-white', 'bg-parchment' %>">

          <td class="px-2 py-3 w-1/2 rounded-l-md">
            <%= image_tag beverage.featured_image, class: 'rounded-md shadow-xl' %>
          </td>

          <td class="rounded-r-md">
            <h1 class="text-punch text-xl font-bold mb-3"><%= beverage.title %>
            <p class="text-elm">
              <%= truncate strip_tags(beverage.description), length: 100 %>
            </p>
          </td>

          <td class="px-1 bg-neptune">
          </td>

          <td class="px-3 rounded-md">
            <ul>
              <li>
                <%= link_to 'Show',
                            beverage,
                            class: 'text-xl font-bold hover:underline text-punch' %>
              </li>
              <li>
                <%= link_to 'Edit',
                            edit_beverage_path(beverage),
                            class: 'text-xl font-bold hover:underline text-punch'%>
              </li>
              <li>
                <%= link_to 'Destroy',
                            beverage,
                            class: 'text-xl font-bold hover:underline text-punch',
                            data: { turbo_method: :delete,
                                    turbo_confirm: "Are you sure?" } %>
              </li>
          </td>

        </tr>
      <% end %>
    </tbody>

    <tfoot>
      <tr>
        <td colspan="3">
          <div class="my-5">
            <%= link_to 'New beverage',
                        new_beverage_path,
                        class: "inline rounded-lg py-3 px-5 bg-ablescent-white
                                text-punch text-xl font-bold hover:underline" %>
          </div>
        </td>
      </tr>
    </tfoot>
  </table>
  </div>
</div>



