<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Buzzysbar" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Include various Google fonts %>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Inter:wght@400;700&display=swap" rel="stylesheet">


    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>

    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="flex flex-col min-h-screen bg-neptune">
    
    <header class="bg-neptune sticky top-0 z-10 pt-4 px-4 mb-8">
      <div class="flex justify-around items-center p-4 bg-ablescent-white rounded-full shadow-lg relative">

        <h1 class="text-4xl header-link">
          <%= link_to "Buzzy's Bar", beverages_path %>
        </h1>

        <button id="mobile-menu-btn" class="sm:hidden text-punch cursor-pointer hover:opacity-75 relative z-20">
          <svg class="w-8 h-8" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24  24" xmlns="https://www.w3.org/2000/svg">
            <path class="" d="M4 6h16M4 12h16M4 18h16"></path>
          </svg>
        </button>

        <nav class="hidden sm:flex gap-6" aria-label="main">
          <%= link_to "Beverages", beverages_path, class: "text-2xl header-link"%>
          <%= link_to "Collections", beverages_path, class: "text-2xl header-link"%>
          <%= link_to "Contact Us", beverages_path, class: "text-2xl header-link"%>
        </nav>

      </div>

      <div id="mobile-menu" class="absolute top-full right-4 max-h-0 opacity-0 bg-ablescent-white items-center overflow-hidden sm:hidden flex flex-col gap-4 px-4 py-2  mt-2 rounded-2xl shadow-lg transition-all duration-300 ease-in-out">
          <%= link_to "Beverages", beverages_path, class: "text-3xl header-link"%>
          <%= link_to "Collections", beverages_path, class: "text-3xl header-link"%>
          <%= link_to "Contact Us", beverages_path, class: "text-3xl header-link"%>
        </div>


    </header>
    
    <main class="flex-grow mx-16 space-y-8">
      <%= yield %>
    </main>

    <div class="bg-amber-500 text-center text-sm text-amber-200 py-6 mt-8">
      S&copy 2025 Buzzy's Bar. All rights reserved.
    </div>
  </body>
</html>
